.bg-primary,
.btn-primary {
}

.bg-secondary {
  background-color: aliceblue !important;
}

.fa-copy {
  position: absolute;
  top: 5px;
  right: 30px;
}

.fa-copy:hover {
  cursor: pointer;
}

textarea {
  height: 300px !important;
}
